<!--
	Unicorn.Configs.Default.config

	This is an example of how to configure a basic Unicorn configuration using your own config patch file.
	Copy this file to use as a basis for your own configuration definitions.

	Enabled configuration definition patches should be present on all environments Unicorn is present on.

	See Unicorn.config for commentary on how configurations operate, or https://github.com/SitecoreUnicorn/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>

				<configuration name="TourneyHubFull" description="Sync all of the items needed to start using TourneyHub">
					<predicate>

						<include name="Layouts" database="master" path="/sitecore/layout" />
						<include name="Content" database="master" path="/sitecore/content" />
						<include name="Media Library" database="master" path="/sitecore/media library" />
						<include name="Templates" database="master" path="/sitecore/templates" />
						<include database="master" path="/sitecore/system/Languages" />

					</predicate>

				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
