<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Tournament Form</title>

</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <form id="tournamentForm" action="#" method="post">
                            <h3 class="mb-4">Tournament Generation</h3>

                            <div class="form-group">
                                <label for="tournamentName">Tournament Name:</label>
                                <input type="text" class="form-control" id="tournamentName" name="tournamentName" required>
                            </div>

                            <div class="form-group">
                                <label for="sportName">Sport Name:</label>
                                <input type="text" class="form-control" id="sportName" name="sportName" required>
                            </div>

                            <div class="form-group">
                                <label for="tournamentFormat">Choose Tournament Format:</label>
                                <select class="form-control" id="tournamentFormat" name="tournamentFormat" required>
                                    <option value="" selected disabled>Select Tournament Format</option>
                                    <option value="Knockouts Bracket">Knockouts Bracket</option>
                                    <option value="Double-Elimination Bracket" disabled>Double-Elimination Bracket</option>
                                    <option value="Round-robin League" disabled>Round-robin League</option>
                                    <option value="Multistage: Round-robin Groups + Knockouts Brackets" disabled>Multistage: Round-robin Groups + Knockouts Brackets</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Choose Tournament Type:</label>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="individualRadio" name="tournamentType" value="Individual" required>
                                    <label class="form-check-label" for="individualRadio">Individual</label>
                                </div>

                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="teamRadio" name="tournamentType" value="Team" required>
                                    <label class="form-check-label" for="teamRadio">Team</label>
                                </div>

                                <!-- Participants or Teams section -->
                                <div class="mt-3" id="participantsOrTeamsSection">
                                    <!-- Number of Participants for Individual -->
                                    <div id="individualParticipants" style="display: none">
                                        <label for="numOfParticipants">Number of Participants:</label>
                                        <select class="form-control" id="numOfParticipants" name="NumberOfParticipants" required>
                                            <option value="" selected disabled>Select Number of Participants</option>
                                            <option value="4">4</option>
                                            <option value="8">8</option>
                                            <option value="16">16</option>
                                            <option value="32">32</option>
                                        </select>
                                    </div>

                                    <!-- Number of Teams and Members per Team for Team Type -->
                                    <div id="teamSelection" style="display: none">
                                        <label for="numOfTeams">Number of Teams:</label>
                                        <select class="form-control" id="numOfTeams" name="NumberOfTeams" required>
                                            <option value="" selected disabled>Select Number of Teams</option>
                                            <option value="4">4</option>
                                            <option value="8">8</option>
                                            <option value="16">16</option>
                                            <option value="32">32</option>
                                        </select>
                                        <label for="numOfMembersPerTeam">Number of Members per Team:</label>
                                        <select class="form-control" id="numOfMembersPerTeam" name="NumberOfMembersPerTeam" required>
                                            <option value="" selected disabled>Select Number of Members per Team</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                            <option value="32">32</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success" id="submitForm">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
